.show-product-list{
    height: 50px;
    background-color: cornflowerblue;
    border: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 20px;
}

.products{
    display: flex !important;;
}